<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Tamagotchi Pet</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/css/styles.css'>  <!-- Why does this css mapping work???? -->
  </head>

  <body>

    <div class='container'>
      <div class='row'>
        <div class='col-md-6'>
          <h2>Tamagotchi Pet</h2>

          <form action='/gotchi' method='post'>
            <div class='form-group'>
              <label for='name'>Enter Tamagotchi Pet Name</label>
              <input type='text' name='name' id='name' class='form-control' placeholder='i.e. Choni' autofocus>
            </div>
            <button type='submit' class='btn btn-sm btn-warning'>Submit</button>
          </form>

          <br>
          <form action='/delete' method='post'>
            <button type='submit' class='btn btn-sm'>Delete Tamagotchi</button>
          </form>

        </div>  <!-- .col-md-6 -->
      </div>  <!-- .row -->

      <div class='row'>
        <div class='col-md-6'>
          <hr>
          <form action='/age' method='post'>
            <button type='submit' class='btn btn-sm btn-primary'>Age One Day</button>
          </form>
          <br>

          {% for tamagotchi in tamagotchis %}
              {% if tamagotchi.getName is not empty  %}       <!-- doesn't display pets with no names -->
              <div class="pet">
                  {% if tamagotchi.checkLife %}
                      <h3>{{ tamagotchi.getName }}</h3>
                      <h5>Age: {{ tamagotchi.getAge }}</h5>
                      <h5>Food: {{ tamagotchi.getFood }}</h5>
                      <h5>Happiness: {{ tamagotchi.getHappiness }}</h5>
                      <h5>Sleep: {{ tamagotchi.getSleepiness }}</h5>
                  {% else %}
                      <p>it dead</p>
                  {% endif %}
              </div>
              {% endif %}
          {% endfor %}

        </div>  <!-- .col-md-6 -->
      </div>  <!-- .row -->
    </div>  <!-- .container -->

  </body>
</html>
